.flexbox-container{
  /*  height: 900px;*/
    background-color: yellowgreen;
    display: flex; 
   /* flex-direction: column;
    justify-content: space-around;
    align-items: center;*/
   /* flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end; --made aligning items from extrmely hard to very easy with a line of code.
    align-content: flex-end; /*space-between*/
}

.flexbox-item {
    width:200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1{
    min-height: 100px;
    color:navy;
    flex-shrink:0;
    align-self: flex-end;
    order: 3;
}

.flexbox-item-2{
    min-height: 200px;
    color:navy;
    flex-grow:1; /*2*/
    flex-basis: 0; /* sets the flexbox-item with from 200 to 0px. */
    align-self: center;
    order: 1;
}

.flexbox-item-3{
    min-height: 300px;
    color:navy;
    flex-grow: 1;
    flex-basis: 0;
    order: 2;
    
}

